.btnPesquisar{
	position: fixed;
	float: bottom;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}


.btnPesquisarBtn {
	display: inline-block;
}

.btnCircular{
	border-radius: 50%;

}

.btnPrincipal{
	font-size: 20px;
	padding: 12px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 4px 47px -4px rgba(0,0,0,0.82);
}

.btnPrincipal:hover{
	background-color: #4680ff;
    border:0px;
}

fieldset{
    border: 1px solid #4680ff;
    padding: 10px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
}

fieldset legend{
    padding: 10px;
    background:#4680ff;
    color: #fff;
    font-size: 14px;
    margin-left: 2%;
    width: 30%;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.erro{
    font-size: 12px;
}

.text-right{
    float: right;
}


.pagination{
    float: right;
}
.not_found{
    text-align: center;
}
@media (max-width:600px){
    fieldset{
        border: 1px solid #4680ff;
        padding: 10px;
        box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    }

    fieldset legend{
        padding: 10px;
        background:#4680ff;
        color: #fff;
        font-size: 14px;
        margin-left: 2%;
        width: 95%;
        box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    .page-header{
        display:none;
    }
}

.transferido{
    background-color:#FFB64D;
    color:#fff;
    font-weight: bold;
}
.desistencia{
    background-color:#FC6180;
    color:#fff;
    font-weight: bold;
}


.positivo{
    color: #4680ff;
}
.negativo{
    color: #FC6180;
}
.nenhum{
    color: #333;
}
.neutro{
    color: #FFB64D;
}
.tabela{
    font-size: 12px;
}

.tabela_notas{
    font-size: 12px;
}



.tabela_notas thead{
    background-color: #4680ff;
    color: #fff;
}

.tabela_notas thead tr th {
    position:sticky;
    top:0;
    background-color: #4680ff;
    color: #fff;
}











